<div class="container1 bg-muted">
  <div class="container-fluid">
    <h1>ABC College</h1><br>
    <h5>Affiliate to XYZ university, Recognised by state Government</h5><br>
    <h6 class="ridge">Re-accredited by NAAC with (A+)grade</h6>
  </div>
</div>
<!--navigation-->
<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">About As</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">President</a></li>
        <li><a class="dropdown-item" href="#">Secretary</a></li>
        <li><a class="dropdown-item" href="#">Principle</a></li>
        <li><a class="dropdown-item" href="#">college development comittee</a></li>
        <li><a class="dropdown-item" href="#">mission & vision</a></li>

      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Acadmic</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Acadmic calander</a></li>
        <li><a class="dropdown-item" href="#">Result</a></li>

      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">courses</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Jr.college</a></li>
        <li><a class="dropdown-item" href="#">Graduate</a></li>
        <li><a class="dropdown-item" href="#">Post Graduate</a></li>
        <li><a class="dropdown-item" href="#">Add on courses</a></li>

      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Facility</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Sports and gyms</a></li>
        <li><a class="dropdown-item" href="#">cafeteria</a></li>
        <li><a class="dropdown-item" href="#">Medical Facility</a></li>
        <li><a class="dropdown-item" href="#">Hostel</a></li>
        <li><a class="dropdown-item" href="#">Placement cell</a></li>

      </ul>
    </li>
    <div class="d-flex">
    <!--- <button type="button" class="btn btn-success" data-bs-toggle="modal"> <a routerLink= "/app-modal">Addmission</a>-->
      <a routerLink="/modal"   class="btn btn-success w-100">Addmission</a>
    </div>
  </div>
</nav>
<!--college img-->
<div class="container2">
  <img class="img"
    src="https://5.imimg.com/data5/BO/TS/MY-3300303/college-building-structures-service-500x500.jpg">
</div>






  <!-- table start-->
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Mobile No.</th>
        <th scope="col">Fild</th>
        <th scope="col">Subject</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>shivani</td>
        <td>female</td>
        <td>shivani@gmail</td>
        <td>bhart nagar</td>
        <td>123456789</td>
        <td>commars</td>
        <td>economics</td>
        <td>
          <button class=" btn btn-info">Edit</button>&nbsp;
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  