<div class="container">
<!-- The Modal 
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        -- Modal Header --
        <div class="modal-header">
          <h4 class="modal-title">Addmission</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
       <!-- Modal body --
        <div class="modal-body">
  
          <form action="" class="was-validated" [formGroup]="formValue">
            <div class="mb-3 mt-3">
              <label for="uname" class="form-label">ID:</label>
              <input type="text" class="form-control" id="uname"  placeholder="Enter username" name="uname" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
  
            <div class="mb-3 mt-3">
              <label for="uname" class="form-label">NAME:</label>
              <input type="text" class="form-control" id="uname" formControlName="Name" placeholder="Enter username" name="uname" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
  
            <div class="mb-3 mt-3">
              <label for="uname" class="form-label">GENDAR:</label>
              <input type="text" class="form-control" id="uname" formControlName="Gender" placeholder="Enter username" name="uname" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
  
            <div class="mb-3 mt-3">
              <label for="uname" class="form-label">EMAIL:</label>
              <input type="text" class="form-control" id="uname" formControlName="Email" placeholder="Enter username" name="uname" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="mb-3 mt-3">
              <label for="uname" class="form-label">ADDRESS:</label>
              <input type="text" class="form-control" id="uname" formControlName="Address" placeholder="Enter username" name="uname" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
  
            <div class="mb-3 mt-3">
              <label for="uname" class="form-label">MOBILE NUMBAR:</label>
              <input type="text" class="form-control" id="uname" formControlName="MobileNo" placeholder="Enter username" name="uname" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
  
            <div class="mb-3 mt-3">
              <label for="uname" class="form-label" formControlName="Name">FILD:</label>
              <input type="text" class="form-control" id="uname"  placeholder="Enter username" name="uname" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
  
            <div class="mb-3 mt-3">
              <label for="uname" class="form-label" formControlName="Name">SUBJECT:</label>
              <div class="form-check">
                <input type="checkbox" class="form-check-input"  id="check1" name="option1" value="something" checked>
                <label class="form-check-label" for="check1">Option 1</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                <label class="form-check-label" for="check2">Option 2</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                <label class="form-check-label" for="check2">Option 3</label>
              </div>
  
              <div class="mb-3 mt-3">
                <label for="uname" class="form-label" formControlName="Name">ACTION:</label>
                <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
  
  
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
                <label class="form-check-label" for="myCheck">I agree on blabla.</label>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Check this checkbox to continue.</div>
              </div>
  
  
            </div>
          </form>
  
  
          <!-- Modal footer --
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
          </div>
  
        </div>
      </div>
    </div>
    </div>-->

    <div class="container mt-3">
     
        
      <form action="" class="was-validated">
        <div class="mb-3 mt-3">
          <label for="uname" class="form-label">Username:</label>
          <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="myCheck"  name="remember" required>
          <label class="form-check-label" for="myCheck">I agree on blabla.</label>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Check this checkbox to continue.</div>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  
  
  
